# [submodule "thirdparty/m480bsp"]
# 	path = thirdparty/m480bsp
# 	url = https://git.protei.ru/wm-firmware-nuvoton/m480bsp
# 	branch = fixes
# [submodule "thirdparty/FreeRTOS-Kernel"]
# 	path = thirdparty/FreeRTOS-Kernel
# 	url = https://git.protei.ru/physical/embedded/external-mirrors/FreeRTOS-Kernel.git
# 	branch = main
# [submodule "thirdparty/etl"]
# 	path = thirdparty/etl
# 	url = https://git.protei.ru/physical/embedded/external-mirrors/etl.git
# [submodule "thirdparty/CMSIS-DSP"]
# 	path = thirdparty/CMSIS-DSP
# 	url = https://github.com/ARM-software/CMSIS-DSP.git
# [submodule "thirdparty/CMSIS_5"]
# 	path = thirdparty/CMSIS_5
# 	url = https://github.com/ARM-software/CMSIS_5.git
